.center-img {
  display: block;
  margin: auto;
  width: 45%;
}

#walrus-showing {
  display: none;
}

#doggy-showing  {
  display: none;
}

#all-img {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}


